*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    background-image: url('../src/imgs/fundo\ galaxia\ 2.png');
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* Header */
/* Configurações do texto e número de seguidores  */
.textoSeguir{
    display: flex;
    justify-content: flex-end;
    padding-top: 2vh;
    padding-right: 30vh;
    gap: 10vh;
}
.textoSeguir p{
    display: inline;
    font-family: "Gothic A1", sans-serif;
    font-size: 3vh;
    color: white;
}
.numeroSeguir{
    display: flex;
    justify-content: end;
    gap: 18vh;
    padding-right: 33vh;
}
.numeroSeguir span{
    display: inline;
    font-family: "Gothic A1", sans-serif;
    font-size: 3vh;
    color: white;
}

/* Configurações do Botão seguir */
.botaoSeguir{
    display: flex;
    justify-content: flex-end;
    padding: 2vh;
}
#seguir{
    width: 25vh;
    font-family: "Gothic A1", sans-serif;
    font-size: 4vh;
    color: white;
    background-color: #740098;
    border-radius: 3vh;
    border: none;
    padding: 0.5vh;
    cursor: pointer;
}

.divBiografia{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.divBiografia span{
    font-family: "Gothic A1", sans-serif;
    font-size: 3vh;
    color: white;
}


/* Main */
/* Configurações das imagens do post */
.galeria{
    display: flex;
    justify-content: center;
    gap: 5vh;
    padding-top: 15vh;
    flex-wrap: wrap; /* Quebrar linha */
}
.galeria img{
    width: 40vh;
    height: 40vh;
}


/* Footer */
/* Organizando a barra de menu no footer */
footer{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    align-items: center;
    background-color: #424242;
    width: 100vw;
    height: 10vh;
}
footer img{
    width: 8vh;
}