*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    background-color: #1C1C1C;
}

img{
    height: 100%;
    width: 100%;
}

.logo{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2vh;
    left: 2vh;
    align-items: center;
}

.logo img{
    width: 100%;
}


.nome h1{
    position: relative;
    font-family: "Inria Sans", sans-serif;
    font-size: 2.3rem;
    font-weight: 40;
    color: #f3c3ff;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    position: absolute;
    top: 15vh;
    border-radius: 10vh;
    background-color: #D9D9D9;
    height: 60vh;
    width: 80vh;
    opacity: 65%;
    backdrop-filter: blur(10vh);
}

.card h1{
    font-size: 2rem;
    font-family: "Gothic A1", sans-serif;
    font-weight: 40;
    padding-top: 8%;
    text-align: center;
    
}

.caixas{
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding-bottom: 2%;
}

.caixas input{
    height: 10vh;
    width: 70vh;
    padding-left: 10%;
    border: none;
    border-radius: 40vh;
    font-size: 3vh;
}

.div-input{
    display: flex;
    width: 100%;
    justify-content: center;
}

.div-input img{
    position: relative;
    width: 5%;
    height: 20px;
    left: 40px;
    top: 16px;
}

#recuperar{
    position: absolute;
    top: 80vh;
    border-radius: 5vh;
    background-color: #D9D9D9;
    height: 10vh;
    width: 40vh;
    opacity: 65%;
    font-size: 5vh;
    font-family: "Inter", sans-serif;
    left: 95vh;
}

dialog::backdrop{
    background-color: rgb (0 0 0 / .5);
}

dialog{
    width: 50vh;
    height: 30vh;
    border: none;
    box-shadow: 0 0 1em rgb(0 0 0 /.3);
    left: 90vh;
    top: 33vh;
    /* display: flex;
    align-items: center;
    flex-direction: column;  */
    gap: 3vh;
}

dialog button{
    border-radius: 5vh;
    width: 18vh;
    height: 5vh;
    background-color: #AF8FD4;
} 